
extends ./base.jade

block head
   title Quizy – Quiz

block body
   P Quiz maker Id:
      B= owner_id
   P Post owner Id:
      B= post_user_id

   P Quiz name:
      B= name
   P Post id:
      B= post_id

   P End date:
      B= end_date
